body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #7c7a7a;
}

.timer-container {
    background-color: #2e2e2e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.776);
   width: 30vw;
    margin: 0 auto;
}
.input-container {
    margin: 20px 0;
    
}

.input-container input{
    padding: 10px;
    width: 100px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.display {
    font-size: 36px;
    font-weight: bold;
}
